.ai-analysis-chatbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    textarea {
        width: 90%;
        margin-top: 1rem;
    }
}
.analysis-result {
    width: 70%;
    height: 50vh;
    overflow-y: scroll;
}

.analysis-result {
    scrollbar-width: thin;
    scrollbar-color: var(--bistre) #f1e0c579;
}

.text-analysis {
    white-space: pre-wrap;
    strong {
        color: var(--blush);
    }
}

.analysis-result__h4 {
    margin: 1em 0;
    color: var(--reseda-green);
    font-size: calc(.7rem + .5vw);
    font-weight: 500;
    text-decoration: underline;
}

.ai-analyze-button {
    width: 30%;
    margin-top: 1em;
    margin-bottom: 1em;
    height: auto;
    background-color: var(--champagne);
    color: var(--bistre);
    font-size: calc(1.4rem - .3vw);
    font-weight: 500;
}