.section-one {
    width: 100%;
    height: 80vh;
    color: var(--bistre);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__banner {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2em;
}

.span-1, .span-2{
    font-family: var(--font-raleway);
    font-weight: bold;
}

.header__h1 {
    width: 100%;
    font-size: calc(2.4rem + 1vw);
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.image-banner {
    width: 80%;
    display: flex;
    justify-content: center;
    img {
        width: 100%;
    }
}

.sign-up {
    width: 50%;
    font-size: calc(.8rem + 1vw);
    font-weight: 600;
    text-align: center;
    background-color: var(--reseda-green);
    color: var(--color-white);
    font-family: var(--font-raleway);
    padding: .6em .4em;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
}

.section-two {
    margin: 4em 0;
}

.section-two__h2 {
    width: 80%;
    margin: 2rem auto;
    font-size: calc(1.6rem + .6vw);
    font-weight: 600;
}

.pictures {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
}

.pic {
    width: 32%;
    img {
        width: 100%;
    }
}

figcaption {
    text-align: center;
    font-size: calc(1rem + 1vw);
    font-weight: 600;
    padding: 1rem 0;
    color: var(--blush);
}

@media (width >= 1024px) {
    /* General styles */
    .section-one {
        flex-direction: row;
    }
    
    .header__banner {
        width: 40%;
    }
    
    .header__h1 {
        font-size: calc(4rem + 2vw);
    }
    
    .sign-up {
        width: 40%;
        font-weight: 500;
        font-size: calc(.6rem + 1vw);
    }
      
    .header__p {
        width: 80%;
        font-size: calc(.6rem + .5vw);
        font-weight: 500;
    }
    
    .image-banner {
        width: 40%;
    }
    
    .section-one__h2 {
        font-size: calc(2.4rem + 1vw);
        font-weight: 700;
    }
    
    .pictures {
        flex-direction: row;
        column-gap: 15rem;
    }
    
    .pic {
        width: 8%;
    }

    figcaption {
        font-size: calc(1rem + .2vw);
    }
}
