.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.350);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 3em;
}

.close-button {
    font-size: calc(1.4rem + .4vw);
    background-color: transparent;
    position: absolute;
    top: 22%;
    left: 66%;
    color: var(--bistre);
}

.delete-confirmation,
.form-upd {
    width: 60%;
    height: 10rem;
    background-color: var(--color-white);
    border-radius: .2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-confirm {
    background-color: var(--blush);
}

.cancel {
    background-color: rgb(182, 181, 181);
    color: var(--color-white);
}

.modal-buttons {
    display: flex;
    margin: 1em 0; 
    column-gap: 1.2em;
}

.form-upd {
    width: 50%;
    min-height: calc(30em + 2vh);
    h3 {
        color: var(--reseda-green);
        padding: 1em 0;
        font-size: calc(1.4rem + .4vw);
        font-weight: 500;
    }
}

.form-group {
    width: 80%;
}

.form-group label,
.form-group input{
    display: block;
    width: 100%;
    margin: .2em 0;
}

.form-group textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: .2em;
}