
@media (width >= 1024px) {
    .nav {
        width: 40%;
        height: 5vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: var(--bistre);
    }
    
    .link {
        text-decoration: none;
        font-family: var(--font-raleway);
        font-size: calc(1rem + .2vw);
        font-weight: 500;
        color: var(--bistre);
    }
    
    .signup {
        background-color: var(--bistre);
        color: var(--color-white);
        padding: .4em .6em;
        border-radius: 1em;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        -ms-border-radius: 1em;
        -o-border-radius: 1em;
    }
}

.logout {
    background-color: var(--khaki);
    color: var(--bistre);
}