.footer {
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--champagne);
    color: var(--color-black);
    padding: 2rem 0;
}

.navbar {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    row-gap: 1rem;
    border-bottom: 2px solid var(--khaki);
}

.section-left {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.brand-name {
    font-size: calc(1.4rem + .5vw);
    font-weight: 600;
    color: var(--reseda-green);
}

.my-icon {
    font-size: calc(2em - .5vw);
    margin-right: .3em;
    color: var(--bistre);
}

.other-options {
    list-style-type: none;
    li {
        font-size: calc(1rem - .5vw);
        margin-bottom: .6em;
        font-weight: 600;
    }
}

.info-app {
    width: 80%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    row-gap: .5rem;
    padding: 1rem 0;
    font-size: calc(1.4rem - 2vw);
}

.footer__span {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-app a {
    text-decoration: none;
    background-color: var(--blush);
    color: var(--champagne);
    padding: .3em .2em;
    font-weight: bold;
}

@media (width >= 1024px) {
    .footer {
        justify-content: inherit;
    }

    .navbar {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 0;
        padding-bottom: 2rem;
    }
    
    .section-left {
        row-gap: 1.6em;
    }

    .my-icon {
        font-size: calc(3em - .5vw);
    }
    
    .brand-name {
        font-size: calc(1.6rem + .5vw);
    }
    
    .other-options {
        list-style-type: none;
        li {
            font-size: calc(1.8em - .5vw);
            font-weight: 500;
        }
    }

    .footer {
        padding-bottom: 1em;
        min-height: 30vh;
    }

    .info-app strong,
    .info-app strong a {
        font-weight: 500;
    }

    .footer__span{
        width: auto;
        font-size: calc(1rem + .1vw);
        font-weight: 500;
    }
    
    .info-app {
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: calc(1rem + .1vw);
    }
}